<!doctype html>
	<head>
		<title>FolkBot</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css" integrity="sha512-IgmDkwzs96t4SrChW29No3NXBIBv8baW490zk5aXvhCD8vuZM3yUSkbyTBcXohkySecyzIrUwiF/qV0cuPcL3Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulmaswatch/0.8.1/default/bulmaswatch.min.css" integrity="sha512-Dv+naixkO3O4RjnNj1NiJEyPVoD8+JVlKFRtZamMIMKEcMIaYP0nqojvC1HutVjqjI3w2JGtgih+L5sCByUUNg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	</head>
	<body>
