
<% include('./partials/head.ejs') %>

<div class="container">
<section class="hero">
	<div class="hero-body">
		<p class="title">FolkBot</p>
	<p class="subtitle">
		A Twitch helper bot for all the folks
	</p>
</section>
<div class="section">
	<h3>Log in via Twitch to get started</h3>
	<a class="button is-primary" href="/auth/twitch">Log In</a>
</div>
</div>

<% include('./partials/foot.ejs') %>